.miniContainer {
    box-shadow: 0 5px 10px rgba(31,45,61,.125);
    transition: all .2s ease-out;
    will-change: transform;
    border-radius: 4px;
    padding: 50px 30px 25px 30px;
    margin-bottom: 30px;
}
.miniContainer:hover {
    box-shadow: 0 1rem 3rem rgba(31,45,61,.125);
}
.imgIcon {
    width: 70px;
    margin-bottom: 20px;
}
.miniTitle {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.miniSubtitle {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.miniStart {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.miniButton {
    position: relative;
    display: inline-block;
    color: #0073ec;
    border: 1px solid #0073ec;
    background: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 10px;
}